.horizontal_wrapper
{
    position: fixed;
    bottom: 30px;
    left: 40px;
    width: 100vh;
    display: flex;
    align-items: center;
    transform-origin: left;
    transform: rotateZ(-90deg);
}


.horizontal_wrapper p{
    color: #ffffff;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Work Sans', sans-serif;
}


.line-long{
    height: 2.5px;
    width: 40%;
    margin-left: 50px;
    background: #1B1B1B;
}

.line-red{
    height: 3px;
    width: 10%;
    margin-left: 30px;
    background: #DF2D2F;
}