.number_nav{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 65px;    
    width: fit-content;
    height: fit-content;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.no{
    opacity: 0.4;
}

.underline{
    height: 2px;
    width: 100%;
    background: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 0.4;
}


.no_active{
    opacity: 1;
}


.line_active{
    background: #df2d2f;
    opacity: 1;
}